@import '../variaveis';

.ind_por_nivel {
    max-width: 120px;
    border-radius: 60px;
    cursor: pointer
}
.ind_por_modfalha {
    // max-width: 230px;
    border-radius: 60px;
    cursor: pointer
}
