// Cores
$color-braskem-blue: #0057B8;
$color-braskem-Cyan: #00A9E0;
$color-braskem-Orange: #FE5000;
$color-braskem-Gray: #425563;

$Alam-color-silenciado:blue;
$Alam-color-Normal:green;
$Alam-color-Nivel1: yellow;
$Alam-color-Nivel2:orange;
$Alam-color-Nivel3:red;



$color-principal: rgb(50, 50, 50);
$color-Letra: #ffffff;
$color-fundo: #000000;
$color-detalhes: #ffffff;
$color-detalhes-t: rgb(100, 100, 100);
$color-destaque:$color-braskem-blue;

// Fontes
$text-fonte-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$text-size: 24px;


$teste: red;